<p>
  <b>Title:</b>
  <%=h @coupon.title %>
</p>

<p>
  <b>Requirements:</b>
  <%=h @coupon.requirements %>
</p>

<p>
  <b>Description:</b>
  <%=h @coupon.description %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>