<p>
  <b>Company:</b>
  <%=h @coupon.company %>
</p>

<p>
  <b>Deal:</b>
  <%=h @coupon.deal %>
</p>

<p>
  <b>Expiration:</b>
  <%=h @coupon.expiration %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>